@font-face {
    font-family: Williwaw;
    src: url("./textures/fonts/Williwaw-Book.otf") format("opentype");
}

@font-face {
    font-family: HIKARUMONO;
    src: url("./textures/fonts/HIKARUMONO-Regular.otf") format("opentype");
}

body {
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
    height: 100dvh;
    width: 100vw;
    font-size: 16px;
    cursor: crosshair;
}

.canvas {
    margin: 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.menus {
    position: fixed;
    top: 0;
    height: 100%;
    width: 20vw;
    text-align: left;
    overflow-y: scroll;
    display: flex;
    transition: 1s;
}

#menuContainerLeft {
    left: -25vw;
}

#menuContainerRight {
    right: -25vw;
}

.tabs {
    display: none;
}

.category p {
    padding: 0 10px 0 10px;
}

#menuRight p {
    padding: 0 10px 0 10px;
}

.menuInterior {
    width: 100%;
    height: auto;
    overflow-y: scroll;
    background-color: white;
    border: 1px solid black;
    z-index: 10;
}

#title {
    font-family: HIKARUMONO;
    font-size: 20px;
    margin: 20px 0;
}

#logo {
    height: 25px;
    background-image: url('./textures/Logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 10px;
    border-top: 0px;
}

.category {
    border-top: 1px solid black;
    width: 100%;
}

#aboutCredits {
    position: absolute;
    bottom: 10px;
    line-height: 5px;
}

#myCredits {
    margin-top: 10px;
    font-size: 12px;
    line-height: normal;
}

#aboutText {
    line-height: 17px;
    font-size: 14px;
}

.resize {
    background: white;
    height: 5vh;
    width: 5vh;
    cursor: col-resize;
    flex-shrink: 0;
    position: relative;
    top: 40%;
    z-index: 9;
    user-select: none;
    border: 1px solid black;
}

#resizeLeft {
    transform: rotate(-45deg) translateX(-70%);
}

#resizeRight {
    transform: rotate(45deg) translateX(70%);
}

.projectLink {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    padding: 0 10px 0 10px;
}

.projectLink:hover {
    padding: 0 15px 0 15px;
    color: red;
}

#project {
    background-color: white;
    width: 50vw;
    height: 80%;
    position: absolute;
    left: 50%;
    top: 110%;
    transform: translateX(-50%) RotateY(0);
    transition: 1s;
    padding: 10px;
}

#projectName {
    font-weight: normal;
    font-size: 18px;
}

#projectContent {
    text-align: center;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

#project img {
    width: 100%;
    background-size: cover;
}

#projectText {
    margin-bottom: 40px;
    font-size: 12px;
}

#overlayCanvas {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
}

#closeDiv {
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('textures/close.png');
    background-color: white;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

.imageDesc {
    font-style: italic;
    font-size: 10px;
}

@media only screen and (max-width:600px) {
    .menus {
        width: 110vw;
        overflow: visible;
    }

    #menuContainerLeft {
        left: -120%;
        justify-content: flex-start;
    }

    #menuContainerRight {
        right: -120%;
        justify-content: flex-end;
    }

    .menuInterior {
        width: 90%;
    }

    #menuRight {
        border-left: 1px solid black;
    }

    #menuLeft {
        border-right: 1px solid black;
    }

    #menuLeft div {
        width: 98%;
    }

    .resize {
        display: none;
    }

    .tabs {
        display: block;
        position: absolute;
        top: 40%;
        background-color: white;
        border: 1px solid black;
        width: 15vh;
        height: 15vh;
        transition: .5s;
    }

    #contentTab {
        right: 0;
        transform: rotate(-45deg);
    }

    #aboutTab {
        left: 0;
        transform: rotate(45deg);
    }

    #project {
        width: 100vw;
        height: 100dvh;
    }

    #projectText {
        padding: 0 10%;
        margin-bottom: 80px;
    }

    #closeDiv {
        height: 80px;
    }

    .canvas {
        width: 300%;
    }
}